<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funda.mybatis.dao.tax_versionMapper" >
  <resultMap id="BaseResultMap" type="com.funda.mybatis.model.tax_version" >
    <id column="idx" property="idx" jdbcType="INTEGER" />
    <result column="tax" property="tax" jdbcType="REAL" />
    <result column="local_tax" property="localTax" jdbcType="REAL" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    idx, tax, local_tax, register_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.funda.mybatis.model.tax_versionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tax_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tax_version
    where idx = #{idx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tax_version
    where idx = #{idx,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.funda.mybatis.model.tax_versionExample" >
    delete from tax_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.funda.mybatis.model.tax_version" >
    insert into tax_version (idx, tax, local_tax, 
      register_date)
    values (#{idx,jdbcType=INTEGER}, #{tax,jdbcType=REAL}, #{localTax,jdbcType=REAL}, 
      #{registerDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.funda.mybatis.model.tax_version" >
    insert into tax_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idx != null" >
        idx,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="localTax != null" >
        local_tax,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idx != null" >
        #{idx,jdbcType=INTEGER},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=REAL},
      </if>
      <if test="localTax != null" >
        #{localTax,jdbcType=REAL},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.funda.mybatis.model.tax_versionExample" resultType="java.lang.Integer" >
    select count(*) from tax_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tax_version
    <set >
      <if test="record.idx != null" >
        idx = #{record.idx,jdbcType=INTEGER},
      </if>
      <if test="record.tax != null" >
        tax = #{record.tax,jdbcType=REAL},
      </if>
      <if test="record.localTax != null" >
        local_tax = #{record.localTax,jdbcType=REAL},
      </if>
      <if test="record.registerDate != null" >
        register_date = #{record.registerDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tax_version
    set idx = #{record.idx,jdbcType=INTEGER},
      tax = #{record.tax,jdbcType=REAL},
      local_tax = #{record.localTax,jdbcType=REAL},
      register_date = #{record.registerDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.funda.mybatis.model.tax_version" >
    update tax_version
    <set >
      <if test="tax != null" >
        tax = #{tax,jdbcType=REAL},
      </if>
      <if test="localTax != null" >
        local_tax = #{localTax,jdbcType=REAL},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where idx = #{idx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funda.mybatis.model.tax_version" >
    update tax_version
    set tax = #{tax,jdbcType=REAL},
      local_tax = #{localTax,jdbcType=REAL},
      register_date = #{registerDate,jdbcType=TIMESTAMP}
    where idx = #{idx,jdbcType=INTEGER}
  </update>
</mapper>